<template>
    <div class="container">
        <h2>Home : </h2>
        <button class="btn btn-dark mt-2" type="button" @click="logout">Logout</button>
    </div>

    <div class="container p-5">
        <table class="table table-bordered table-hover">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Gender</th>
                <th>Country</th>
                <th>State</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Action</th>
            </thead>

            <tbody>
                <template v-for="user in users" :key="user.id">
                    <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.contact }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.state }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.dob }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" @click="editUser(user.id)" data-target="#myModal">Edit</button>
                        <!-- <button class="btn btn-danger" type="submit" @click="deleteUser">Delete</button> -->
                        <button type="button" class="btn btn-danger" @click="deleteUser(user.id)">Delete</button>
                    </td>
                </tr>
                </template>
            </tbody>
        </table>

        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Edit</h5>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <form @submit.prevent="edit" action="/api/update/{id}" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" >
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" >
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact:</label>
                        <input type="number" class="form-control" id="contact" >
                    </div>
                    <div class="form-group">
                        <label for="dob">DOB:</label>
                        <input type="date" class="form-control" id="dob" >
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="text" class="form-control" id="gender" >
                    </div>
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="Female" checked
                            v-model="form.gender" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="maleGender" value="Male"
                            v-model="form.gender" />
                        <label class="form-check-label" for="maleGender">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="otherGender" value="Other"
                            v-model="form.gender" />
                        <label class="form-check-label" for="otherGender">Other</label>
                    </div> -->
                    
                    <div class="col-md-6 mb-2 pb-2">
                        <select class="select form-control-sm" id="country-dd" name="country" >
                            <option value="1" selected disabled >Select Country</option>
                            <option value="2">india</option>
                            <option value="3">dubai</option>
                            <option value="4">us</option>
                        </select>
                        <label class="form-label select-label">Your Country</label>
                    </div>

                   



                    <div class="col-md-6 mb-2 pb-2">
                        <select class="select form-control-sm" id="state-dd" name="state" >
                            <option value="1" disabled selected>Select State</option>
                            <option value="2">Gujarat</option>
                            <option value="3">Rajasthan</option>
                            <option value="4">Maharastra</option>
                        </select>
                        <label class="form-label select-label">Your State</label>
                    </div>

                    <div class="form-group">
                        <label for="address">Address:</label>
                        <!-- <input type="text" class="form-control" id="dob" v-model="form.dob"> -->
                        <textarea name="address" class="form-control" id="address" cols="30" rows="5" ></textarea>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" >
                    </div>

                    <div class="form-group">
                        <label for="c_password">Confirm Password:</label>
                        <input type="password" class="form-control" id="c_password" >
                    </div>

                    <button class="btn btn-primary" type="submit">Edit</button>
                    
                </form>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
              </div>
            </div>
          </div>
    </div>
</template>
<script>
import { ref, onMounted,  reactive } from 'vue';
import axios from 'axios';
import { useRouter } from "vue-router"
import { useStore } from 'vuex'

export default {
    setup() {
        const router = useRouter();
        const store = useStore();
        const users = ref([]);
        let form = reactive({
            editname: '',
            editemail: '',
            editpassword: '',
            editc_password: ''
        });
  
        const getUser = async() => {
            let res = await axios.get('/api/user');
            users.value = res.data;
        }

        onMounted(getUser());
         
        // const editUser = (user)=>{
        //     form.name = user.name;
        //     form.email = user.email;
        //     form.contact = user.contact;
        //     form.dob = user.dob;
        //     form.country = user.country;
        //     form.state = user.state;
        //     form.address = user.address;
        //     form.gender = user.gender;
        // }
        
        function logout() {
            store.dispatch('removeToken');
            // localStorage.removeItem('token');
            router.push({ name: 'Login' })
        }


        return {
            logout,
            users,
            form
    

        }
    },
    methods: {
            deleteUser(id) {
                axios.delete('api/delete_user/'+id)
                .then(response => {
                    getUser()
                });
            },
            editUser(id){
                axios.get('api/edit_user/'+id)
                .then(response => {
                    // this.editname = response.data.name;
                    // this.editemail = response.data.email;
                    // this.editname = response.data.contact;
                    // this.editname = response.data.dob;
                    // this.editname = response.data.gender;
                    // this.editname = response.data.country;
                    // this.editname = response.data.state;
                    // this.editname = response.data.address;
                    // this.editname = response.data.password;
                    // this.editname = response.data.c_password;
                });
            }
        },
}
</script>