<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 mt-4">

                <h2>Register</h2>
                <p class="text-danger" v-for="error in errors" :key="error">
                    <span v-for="err in error" :key="err">{{ err }}</span>
                </p>
                <form @submit.prevent="register">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" v-model="form.name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" v-model="form.email">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact:</label>
                        <input type="number" class="form-control" id="contact" v-model="form.contact">
                    </div>
                    <div class="form-group">
                        <label for="dob">DOB:</label>
                        <input type="date" class="form-control" id="dob" v-model="form.dob">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="text" class="form-control" id="gender" v-model="form.gender">
                    </div>
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="Female" checked
                            v-model="form.gender" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="maleGender" value="Male"
                            v-model="form.gender" />
                        <label class="form-check-label" for="maleGender">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="otherGender" value="Other"
                            v-model="form.gender" />
                        <label class="form-check-label" for="otherGender">Other</label>
                    </div> -->
                    
                    <div class="col-md-6 mb-2 pb-2">
                        <select class="select form-control-sm" id="country-dd" name="country" v-model="form.country">
                            <option value="1" selected disabled >Select Country</option>
                            <option value="2">india</option>
                            <option value="3">dubai</option>
                            <option value="4">us</option>
                        </select>
                        <label class="form-label select-label">Your Country</label>
                    </div>

                   



                    <div class="col-md-6 mb-2 pb-2">
                        <select class="select form-control-sm" id="state-dd" name="state" v-model="form.state">
                            <option value="1" disabled selected>Select State</option>
                            <option value="2">Gujarat</option>
                            <option value="3">Rajasthan</option>
                            <option value="4">Maharastra</option>
                        </select>
                        <label class="form-label select-label">Your State</label>
                    </div>

                    <div class="form-group">
                        <label for="address">Address:</label>
                        <!-- <input type="text" class="form-control" id="dob" v-model="form.dob"> -->
                        <textarea name="address" class="form-control" id="address" cols="30" rows="5" v-model="form.address"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" v-model="form.password">
                    </div>

                    <div class="form-group">
                        <label for="c_password">Confirm Password:</label>
                        <input type="password" class="form-control" id="c_password" v-model="form.c_password">
                    </div>

                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
import { reactive, ref } from 'vue'
import { useRouter } from "vue-router"
import { useStore } from 'vuex'
export default {
    setup() {
        const router = useRouter()
        const store = useStore()
        let form = reactive({
            name: '',
            email: '',
            password: '',
            c_password: ''
        });
        let errors = ref([])
        const register = async () => {
            await axios.post('/api/register', form).then(res => {
                if (res.data.success) {
                    store.dispatch('setToken', res.data.data.token)
                    //  localStorage.setItem('token', res.data.data.token)
                    router.push({ name: 'Home' })
                }
            }).catch(e => {
                errors.value = e.response.data.message
            })
        }

        return {
            form,
            register,
            errors
        }
    }
}

</script>